*{
    padding: 0px;
    margin: 0px;
}
.body{
    background-image: url(../images/homebg.jpg);
    background-repeat: no-repeat;
    background-size: 1540px 760px;
}
/* NAVBAR */
.navbar{
    height: 130px;
}

.logo-image{
    /* border: 1px solid red; */
    height: 5%;
    width: 6%;
    margin-left: 1%;
    margin-bottom: 7%;
}
.logo-image h3{
    /* border: 1px solid white; */
    color: white;
    text-align: center;
    font-size: 1em;
}

.container-fluid{
    border: 1px solid white;
}

/* .nav-item{
    border: 1px solid red;
}

.navsearch{
    border: 1px solid rgb(201, 15, 15);
} */
    

/* NAVBAR */

/* HEADER */
.header{
    background-color: whitesmoke;
    height: 40px;
    font-size: 20px;
    color: black;
}

/* HEADER */

/* SIGNUP */

.signup1{
    filter: drop-shadow(1px 1px 10px black);
    background-color: white;
    height: 480px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}

.signup1 {
    font-size: 25px;
}

.pwdstrength h2{
    font-size: 25px;
}

/* SIGNUP */

/* phone */

.error
{
  font-size: 15px;
  color: red;
  size: 80%
}
.hidden
{
  display:none;
}


/* phone */